#offline .content {
    position: relative;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 380px;
}

#offline .content i {
    opacity: 0;
    position: relative;
    float: left;
    width: 100%;
    font-size: 72px;
    text-align: center;
    color: var(--title);
    animation: cx-fade-in 0.4s ease-out 0.2s forwards
}

#offline .content .title {
    opacity: 0;
    position: relative;
    float: left;
    margin-top: 40px;
    width: 100%;
    font: 700 48px/1 'Poppins', sans-serif;
    text-align: center;
    color: var(--title);
    animation: cx-fade-in 0.4s ease-out 0.4s forwards
}

#offline .content .desc {
    opacity: 0;
    position: relative;
    float: left;
    margin-top: 30px;
    width: 100%;
    font: 400 14px/1.6 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
    animation: cx-fade-in 0.5s ease-out 0.6s forwards
}

#offline .content a {
    opacity: 0;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 20px;
    height: 40px;
    font: 600 12px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    color: #fff;
    background: var(--color1);
    border-radius: 3px;
    animation: cx-fade-in 0.5s ease-out 0.8s forwards
}

#offline .content a:hover {
    filter: brightness(120%)
}

/* Login _____________________________________ */
#login {
    align-items: center;
    background: #eef3f5;
}

#login .logo {
    position: relative;
    float: left;
    margin-right: 120px;
    width: 250px;
    object-fit: scale-down;
    object-position: 50% 50%;
}

#login form {
    display: block;
    margin: unset;
    padding: 30px;
    width: 400px;
    border: unset;
    box-shadow: rgb(0 0 0 / 22%) 0px 10px 120px -20px, rgb(0 0 0 / 30%) 0px 40px 60px -30px;
}

#login form h1 {
    position: relative;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 100%;
    font: 600 26px/1 'Poppins', sans-serif;
    color: var(--title);
}

#login form h1 i {
    margin-right: 10px;
    font-size: 34px;
}

#login form .copy {
    position: relative;
    float: left;
    margin-top: 20px;
    font: 400 10px/1.7 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ccc;
}

/* Overview __________________________________ */
@keyframes goTop {
    0% {
        opacity: 0;
        transform: translate(0, 30px)
    }

    100% {
        opacity: 1
    }
}

#overview > .title {
    opacity: 0;
    position: relative;
    float: left;
    margin-bottom: 30px;
    width: 100%;
    font: 800 46px/1 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--title);
    animation: goTop 0.6s ease-out 0.0s forwards;
}

#overview .total {
    position: relative;
    float: left;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#overview .total .item {
    position: relative;
    float: left;
    padding: 20px;
    width: calc(25% - 15px);
    background: #fff;
    box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#overview .total .item:hover {
    border-color: #fff;
    box-shadow: 0 10px 40px rgb(0 0 0 / 25%)
}

#overview .total .item i {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: var(--color2);
}

#overview .total .item .title {
    position: relative;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
    font: 500 16px/1 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    color: var(--content);
    border-bottom: 1px solid #f2f2f2
}

#overview .total .item .bottom {
    position: relative;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

#overview .total .item .bottom .result {
    position: relative;
    float: left;
    font: 300 22px/1 'Poppins', sans-serif;
    color: var(--color2)
}

#overview .total .item .bottom .seeMore {
    position: relative;
    float: left;
    font: 300 9px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    color: #b2b2b2;
}

#overview .chart {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#overview .chart .left {
    position: relative;
    float: left;
    width: 380px
}

#overview .chart .left .title {
    opacity: 0;
    position: relative;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    font: 700 58px/1 'Poppins', sans-serif;
    animation: goTop 0.6s ease-out 0.0s forwards;
}

#overview .chart .left .tagline {
    opacity: 0;
    position: relative;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    font: 600 16px/1 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    animation: goTop 0.6s ease-out 0.3s forwards;
}

#overview .chart .left .desc {
    opacity: 0;
    position: relative;
    float: left;
    width: 320px;
    font: 300 11px/1.7 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    animation: goTop 0.6s ease-out 0.3s forwards;
}

#overview .chart .left a {
    opacity: 0;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 30px;
    font: 400 10px/1 'Poppins', sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-top: 1px solid #e5e5e5;
    animation: goTop 0.6s ease-out 0.6s forwards;
    transition: all 0.2s ease-in-out;
}

#overview .chart .left a:hover {
    padding: 0 10px;
    color: #fff;
    background: var(--color2);
    border: none;
    border-radius: 3px;
}

#overview .chart .left a i {
    font-size: 20px;
    color: #b2b2b2;
}

#overview .chart .left a:hover i {
    color: #fff
}

#overview .chart .right {
    opacity: 0;
    position: relative;
    float: left;
    padding: 20px 0 20px 20px;
    width: calc(100% - 420px);
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    animation: goTop 0.6s ease-out 0.2s forwards;
}

/* Profile ___________________________________ */
#profile .block {
    position: relative;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 40px 20px 30px 20px;
    width: 400px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 28%) 0px 10px 120px -20px, rgb(0 0 0 / 38%) 0px 40px 60px -30px;
    border-radius: 6px;
}

#profile .block .permission {
    opacity: 0.8;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 10px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}

#profile .block .work {
    opacity: 0.6;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 10px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}

#profile .block > img {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

#profile .block .name {
    position: relative;
    float: left;
    margin: 30px 0 15px 0;
    padding-bottom: 15px;
    width: 100%;
    font: 600 20px/1 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}

#profile .block .loct {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    font: 500 11px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}

#profile .block .addr {
    opacity: 0.7;
    position: relative;
    float: left;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 100%;
    font: 400 11px/1.7 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
}

#profile .block .contact {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#profile .block .contact a {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    width: 32px;
    height: 32px;
    border: 1px solid #a5b3b9;
    border-radius: 50%;
}

#profile .block .contact a i {
    font-size: 18px;
    color: #a5b3b9;
}

#profile .block .edit {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 38px;
    font: 600 11px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    color: #fff;
    background: var(--color1);
    border-radius: 0 6px;
}

#profile .block .edit:hover {
    filter: contrast(130%)
}

#profile .block .logout {
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 28px;
    font: 500 11px/1 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    color: #fff;
    background: var(--content);
    border-radius: 6px 0;
}

/* Others ____________________________________ */
#error table.dataTable>tbody>tr.child ul.dtr-details>li, #log table.dataTable>tbody>tr.child ul.dtr-details>li, #webpage table.dataTable>tbody>tr.child ul.dtr-details>li, #faq table.dataTable>tbody>tr.child ul.dtr-details>li, #notif table.dataTable>tbody>tr.child ul.dtr-details>li, #product table.dataTable>tbody>tr.child ul.dtr-details>li {
    width: 100%
}

/* Animation _________________________________ */
@keyframes cx-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes cx-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes cx-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes cx-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Responsive ________________________________ */
@media screen and (max-width: 840px) {
    #login {
        padding: 40px 20px;
        justify-content: center;
    }

    #login .logo {
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
        height: 40px;
        object-position: 50% 50%;
    }
}

@media screen and (max-width: 900px) {
    #overview .total, #overview .chart {
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }

    #overview .total .item {
        margin-bottom: 20px;
        width: calc(50% - 10px);
    }

    #overview .chart .left {
        margin-top: 30px;
        width: 100%;
    }

    #overview .chart .left .desc {
        width: 100%;
    }

    #overview .chart .left a {
        padding: 0 10px;
        color: #fff;
        background: var(--color2);
        border: none;
        border-radius: 3px;
    }

    #overview .chart .left a i {
        color: #fff;
    }

    #overview .chart .right {
        margin-top: 30px;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #overview .total .item .title {
        margin-top: 32px
    }

    #overview .total .item i {
        left: 17px;
        right: unset
    }
}

@media screen and (max-width: 420px) {
    #login {
        padding: 30px 0;
        align-content: flex-start;
        justify-content: center;
    }

    #login .logo {
        opacity: 1;
        margin: 0 0 30px 0;
        padding: 0 20px;
        height: 26px;
        object-position: 50% 50%;
    }

    #login form {
        padding: 20px;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ededed;
        border-radius: 0;
        box-shadow: none;
    }

    #profile {
        padding: 85px 20px
    }

    #profile .block {
        padding: 50px 20px;
    }
}
